@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Apparel+</h1>
    <p>We're building this site in COMP2084 using ASP.NET.</p>
    <p>Winning logo created by Tobi O.</p>
</div>
